* {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: gray solid 4px;
    border-radius: 16px;
    padding: 15px 10px;
}

#display {
    display: flex;
    height: 100px;
    background-color: green;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    font-size: 40px;
    padding: 10px;
}

#input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.key {
    padding:10px 20px;
    width: 100px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    border: black solid 2px;
    border-radius: 10px;
}

.active-operator {
    background-color: cyan;
}