* {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: black solid 3px;
    border-radius: 16px;
    padding: 15px 10px;
    background-color: #fefae0;
}

#display {
    display: flex;
    height: 100px;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    font-size: 40px;
    padding: 10px;
    border: black solid 3px;
    border-radius: 10px;
}

#input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.key {
    padding:10px 20px;
    width: 100px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    border: black solid 3px;
    flex-grow: 1;
    border-radius: 10px;
    background-color: #f3d6b0;
}

.operator, #delete, #clear {
    background-color: #bc6c25;
}

#operate, #display {
    background-color: #85964f;
}

.active-operator {
    background-color: #804a1c;
}

.key:hover, #delete:hover, #clear:hover, #operate:hover{
    background-color: #c5af71;
    cursor: pointer;
}